
body, ul, li, h1 ,h2 ,a{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER ################################################################*/

header{
    position: fixed;
    z-index: 1;
    background-color: rgb(241, 5, 5);
    padding: 15px;
    text-align: center;
    width: 100%;
    top: 0%;
    left: 0%;
}
header h1{
    font-size: 30px;
    color: white;
    border: 6px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 30px;
}

/*BANNER #################################################################*/

.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    padding: 20px;
    background-color: rgb(245, 227, 67);
    color: rgb(112, 119, 122);
    position: absolute;
    top: 40%;
    left: 0%;
}
.banner h2{
    font-size: 40px;
}
.banner h2 span{
    font-size: 1.5em;
}

/*NAV #################################################################*/

nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 88px;
}
nav ul{
    white-space: nowrap;
    max-width: 1100px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 20px;
}
nav li a{
    text-decoration: none; /*this remove underscore*/
    color: #4b4b4b;
}
nav li a.join{
    color: rgb(241, 5, 5);
}

/*MAIN #################################################################*/

main{
    max-width: 100%;
    width: 1600px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
/*ARTICLE -----------------------------------------------------------------*/
article h2{
    padding: 0 20px;
    color: rgb(23, 24, 83);
    font-size: 40px;
}   
article p{
    padding: 0 20px;
    line-height: 1.5em;
    color: #4b4b4b;
    text-align: justify;
    font-size: 20px;
}
/*UL IMAGES -----------------------------------------------------------------*/
.images{
    text-align: center;
    text-size-adjust: 100%;
    padding: 0 10px;
}

.images li{
    display: inline-block;/*Remove the li dot*/
    padding: 10px 5px;
}
/*UL IMAGES -----------------------------------------------------------------*/
section.join{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    margin: 20px;
}
section.join h2{
    font-size: 40px;
}
section.join p{
    font-size: 20px;
    line-height: 1.5em;
}
form input{
    margin: 20px 20px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 4px solid rgb(96, 107, 158);
}
/*UL IMAGES -----------------------------------------------------------------*/
footer{
    background-color: rgb(34, 32, 32);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}
/*END #################################################################*/

/*PSEUDO CLASSES -----------------------------------------------------------------*/

nav li a:hover{
    text-decoration: underline;
    
}
.images li:hover{
    position: relative;
    top: -5px;
}
form input:focus{
    background-color: rgb(218, 105, 101);
}

section.join p::first-line{
    font-weight: bold;
    font-style: italic;
}
section.join p::first-letter{
    font-size: 30px;
}

/*MEDIA QUERY #################################################################*/

@media screen and  (max-width: 1400px){
    
}
